main {
  display: flex;
  justify-content: center;
}
main div {
  color: aliceblue;
}
body {
  background-image: linear-gradient(to left, #ff512f, #fe9090);
}

@media (min-width: 705px) {
  main div {
    border-radius: 10rem 10rem;
  }
}
#inputForm {
  position: absolute;
  top: 59vh;
}
#spinner {
  margin-top: 34vh;
  display: none;
}
#downloadLink {
  position: absolute;
  top: 78vh;
  display: none;
}
#ErrorMsg {
  display: none;
  margin-top: 5vh;
  color: rgb(11, 54, 3);
}
#MusicTitle {
  display: none;
  color: rgb(252, 227, 0);
}
#feet {
  position: absolute;
  width: 100vw;
  bottom: 2vh;
}
#downloadButton {
  display: none;
}

@media (min-width: 705px) {
  #thumbnail {
    /* width: 43%; */
    margin-left: 27%;
    display: inline-block;
  }
}
#thumbnail {
  border-radius: 5% 5%;
}
