main{
    display: flex;
    justify-content: center;
}
main div{

    color: aliceblue;

}
body{
    background-image: linear-gradient(to right, #FF512F, #DD2476);
}

@media (min-width:705px) {
    main div{
        border-radius: 10rem 10rem;
    }
}
#inputForm{
    position: absolute;
    top: 50vh;
}
#spinner{
    margin-top: 32vh;
    display: none;
}
#downloadLink{
    position: absolute;
    top: 73vh;
    display: none;
}
#ErrorMsg{
    display: none;
    margin-top: 5vh;
    color: rgb(1, 247, 234);
}
#MusicTitle{
    display: none;
    color: rgb(249, 253, 0);
}
#MusicProtocol{
display: none;
color: beige;
}
#feet{
    position:absolute;
    width: 100vw;
    bottom: 2vh;
}