main {
  display: flex;
  justify-content: center;
}
main div {
  color: aliceblue;
}
body {
  background-image: linear-gradient(to right, #d4145a, #fbb03b);
}

@media (min-width: 705px) {
  main div {
    border-radius: 10rem 10rem;
  }
}
#inputForm {
  position: absolute;
  top: 60vh;
}
#spinner {
  margin-top: 23vh;
  display: none;
}
#downloadLink {
  position: absolute;
  top: 80vh;
  display: none;
}
#ErrorMsg {
  display: none;
  margin-top: 17vh;
  color: rgb(27, 0, 255);
}
#MusicTitle {
  display: none;
  color: green;
}
#feet {
  position: absolute;
  width: 100vw;
  bottom: 2vh;
}
